*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}
img{
    max-width: 100px;
    display: block;
    margin: 25px auto;
}
h1{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}
h2{
    font-size: 40px;
}
input{
    border: none;
}
input:focus{
    outline: 0;
}
#login-form{
    background-color: #607d8b;
    width: 400px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 5px;
    margin-top: 50px;
}
#login-form label{
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
    color: #fff;
}
#login-form input{
    width: 100%;
    padding: 5px 10px;
    margin-bottom: 20px;
    font-size: 14px;
}
#login-form button{   
    background: #fff;
    padding: 5px 10px;
    color: #607d8b;
    font-weight: 500;
    text-decoration: none;
    display: inline-block;
    border: none;
    cursor: pointer;
}

.banking-interface{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    margin: 0 auto;
}
.banking-card{
    width: 33.33%;
    flex-basis: 33.33%;
}
.banking-content{
    padding: 20px;
    border-radius: 5px;
    margin: 0 10px;
    color: #fff;
}
.deposit{
    background: #f44336;
}
.withdraw{
    background: #673ab7;
}
.balance{
    background: #2196f3;
}

.deposit-withdaw{
    display: flex;
}
#deposit-form{
    background-color: #3f51b5;
    width: 40%;
    flex-basis: 40%;margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
}
#deposit-form label{
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
    color: #fff;
}
#deposit-form input{
    width: 100%;
    padding: 5px 10px;
    margin-bottom: 20px;
    font-size: 14px;
}
#deposit-form button{   
    background: #fff;
    padding: 5px 10px;
    color: #607d8b;
    font-weight: 500;
    text-decoration: none;
    display: inline-block;
    border: none;
    cursor: pointer;
}
#withdraw-form{
    background-color: #9e9e9e;
    width: 40%;
    flex-basis: 40%;margin: 0 auto;
    padding: 30px;
    border-radius: 5px;
    margin-top: 20px;
}
#withdraw-form label{
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
    color: #fff;
}
#withdraw-form input{
    width: 100%;
    padding: 5px 10px;
    margin-bottom: 20px;
    font-size: 14px;
}
#withdraw-form button{   
    background: #fff;
    padding: 5px 10px;
    color: #607d8b;
    font-weight: 500;
    text-decoration: none;
    display: inline-block;
    border: none;
    cursor: pointer;
}
#logout-btn {
    background: #607d8b;
    padding: 10px 60px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    display: block;
    border: none;
    cursor: pointer;
    margin: 20px auto;
    border-radius: 5px;
    font-size: 14px;
}